
.tooltip {
	font-size: 10pt;
	background-color: #FFFFCC;
	border: 1px solid black;
	padding: 2px
}
.viewer {
    height: 100%;
   /*  overflow: hidden!important; */
    position: relative;
    width: 100%;
}
body {
    background-color: #c6dfff;
    color: #666;
    font-family: Arial,Verdana,sans-serif;
    font-size: 12px;
    line-height: 1.3em;
    margin: 0;
}
.span_left{
   padding-left: 23px;
   font-style: italic;
}

#header {
    background-color: #fff;
    border-radius: 10px;
    border-top: 1px solid #b5c8e0;
    box-shadow: 0 0 8px #b6bdc4;
    height: 100px !important;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 20px 20px;
    width: 99%;
}

#center {
    background-color: #fff;
    border: 1px solid #b5c8e0;
    border-radius: 10px;
    box-shadow: 0 0 8px #b6bdc4;
    margin: 0 auto;
    min-height: 607px;
    overflow: hidden;
   
    width: 99%;
}
#footer {
    background-color: #fff;
    background-repeat: repeat-x;
    border: 1px solid #becfe6;
    border-radius: 10px;
    clear: both;
    height: 100px;
    margin: 4px auto 0;
    padding-left: 20px;
    padding-right: 20px;
    width: 99%;
}

.loginTitle {
    color: blue;
    font-size: 24px;
    font-weight: bold;
    margin-top: 100px;
    text-align: center;
}

.login_form {
    border: 1px solid #becfe6;
    border-radius: 10px;
    height: 134px;
    margin-left: 261px !important;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 20px;
    width: 444px;
    margin-top: 70px;
}
.container {    
    padding-top: 7px!important;
    padding-bottom: 7px!important;
    padding-left: 7px!important;
    padding-right: 7px!important;
}
.index_2_1 {
    border: 1px solid #becfe6;
    clear: both;
    height: 30px;
    margin-bottom: 10px;
}

.index_2_1 {
    border: 1px solid #becfe6;
    clear: both;
    height: 30px;
    margin-bottom: 10px;
    width: 375px;
}

.index_2_1_1 {
    border-right: 1px solid #becfe6;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 21px;
    padding-left: 10px;
    padding-top: 10px;
    width: 113px;
}

.index_2_1_1 {
    border-right: 1px solid #becfe6;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 21px;
    padding-left: 10px;
    padding-top: 10px;
    width: 113px;
}
.buttonSubmit {
    background: -moz-linear-gradient(center top , #ededed 5%, #5a86e0 100%) repeat scroll 0 0 #ededed;
    border: 1px solid #dcdcdc;
    border-radius: 6px;
    box-shadow: 0 1px 0 0 #ffffff inset;
    color: #183ead !important;
    display: inline-block;
    font-family: arial;
    font-size: 15px;
    font-style: normal;
    font-weight: bold;
    height: 33px;
    margin-left: 125px;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    text-shadow: 1px 1px 0 #ffffff;
    width: 120px;
}
.th_table_15{
width: 15%!important;
text-align: center;
}
#Node1,#Node2,#Node3,#Node4,#Node5,#Node6,#Node7,#Node8,#Node9,#Node10,#Node11,#Node12,#Node13,#Node14,#Node15,#Node16,#Node17,#Node18,#Node19,#Node20{
font-weight: 100;
}
#Node21,#Node22,#Node23,#Node24,#Node25,#Node26,#Node27,#Node28,#Node29,#Node30,#Node31,#Node32,#Node33,#Node34,#Node35,#Node36,#Node37,#Node38,#Node39,#Node40{
font-weight: 100;
}
#Node41,#Node42,#Node43,#Node44,#Node45,#Node46,#Node47,#Node48,#Node49,#Node50,#Node51,#Node52,#Node53,#Node54,#Node55,#Node56,#Node57,#Node58{
font-weight: 100;
}
.dataTables_filter{
text-align: right;
}
.form_search{
    background-color: #fff;
    background-repeat: repeat-x;
    border: 1px solid #becfe6;
    border-radius: 4px;
    clear: both;
    margin-top: 10px;
    padding-top: 10px;
}
.detail_data_table , .FileUpLoad_table ,.cumuluspro_table ,.UserManulife_table{
    background-color: #fff;
    background-repeat: repeat-x;
    border: 1px solid #becfe6;
    border-radius: 4px;
    clear: both;
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
.detail_data_table_final{
    background-color: #fff;
    background-repeat: repeat-x;
    border: 1px solid #becfe6;
    border-radius: 4px;
    clear: both;
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.dilog_table{
 border: 1px solid #becfe6;
 font-size: 11px;
}
body {
	font-size: 12px;
	
}
.padding_left{
   padding-left: 20px;
}
</style>
<style type="text/css">
.tooltip {
	position: absolute;
	display: none;
}
.w3-btn, .w3-btn:link, .w3-btn:visited {
    background-color: #4caf50;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}
.table-th{
text-align: center;
}
.class-font_14{
   font-size: 14px;
   font-weight: bold;
}
.search_cbb_Location ,.search_cbb_Box_No{
font-weight:bold;
font-size:14px;
width: 200px;
height: 31px;
}
.title_search_cbb_Location ,.title_search_cbb_Box_No{
    text-align: left;
    padding-top: 15px!important;
    padding-right: 0px;
    width: 112px;
    font-weight: bold;font-size: 14px
}
.dataTables_scrollHead{
height: 36px;
background-color: #4caf50;
}
table.dataTable {
    border-collapse: collapse!important;
    border-spacing: 0;
}
.title_width_140{
	float: left;
    font-size: 13px;
    font-weight: bold;
    padding-left: 25px;
    padding-top: 10px;
    width: 140px;
}
.value_width_170{
	float: left;
    font-size: 13px;
    height: 33px;
    width: 161px;
}
.button_width_320{
	float: left;
    font-size: 13px;
    height: 27px;
    width: 300px;
    margin-left: 15px;
}
.button_width_boxNo{
	 float: left;
    font-size: 13px;
    height: 33px;
    margin-left: 67px;
    margin-top: 5px;
    width: 182px;
}
.tab-content{
min-height: 650px;
}
 /* th, td { 
white-space: nowrap;
}   */

.btn-edit ,.btn-create ,.btn-cancel{
    background-color: #5eba5e !important;
    border-color: #4cae4c !important;
    height: 34px;
    width: 100px;
}
.dlg_name{
    background-color: #fff;
    background-repeat: repeat-x;
    border-radius: 1px;
    border-top: 1px solid #becfe6;
    font-size: 14px;
    font-weight: bold;
    height: 43px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-top: 3px;
  
}
.dlg_name_delete{
    background-color: #fff;
    background-repeat: repeat-x;
    border-radius: 1px;
    border-top: 1px solid #becfe6;
    font-size: 14px;
    font-weight: bold;
    height: 43px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-top: 10px;
    color: red;
  
}

.dlg_name_btn{
    background-color: #fff;
    background-repeat: repeat-x;
    border-radius: 1px;
    border: 1px solid #becfe6;
    font-size: 14px;
    font-weight: bold;
    height: 50px;
    padding-bottom: 20px;
    padding-left: 36px;
    padding-top: 7px;
  
}
.dlg_name_11{ 
    float: left;
    padding-top: 7px;
    width: 37%;
  
}
.dlg_name_12{ 
  width:60%;
  text-align:left;
  
   float: left;
}
.dlg_create{
   width: 60%;
   padding-left:126px;
   float: left;
}
.dlg_cancel{
   width: 30%;
   float: left;
}
.dlg_delete{
   width: 40%; 
   float: left;
}
.dlg_file_upload_cancel{
   width: 50%;
   float: left; 
}

.close{
  opacity: 1.00!important;
}
.text_align_left{
text-align: left;
}


.wrapper {
    width: 630px;
    margin: auto;
    background: #eee;
    border: 1px solid black;
    padding: 20px 30px;
}

.scroll {
  font-size: 30px;
  font-size: bold;  
  color: red;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;    
}
.scroll:hover {
  color: gray;
  cursor: pointer;  
}
.left-scroll { 
    position: relative;
    z-index: 10;
    left: -16px;
    top: 60px;
}    
.right-scroll { 
    position: relative;
    z-index: 10;
    left: 18px;
    top: 60px;
    float: right;
   
}    


 .glyphicon-refresh::before {
    content: "";
}
/* .glyphicon-calendar:before {
             content: "";
} */
 
.glyphicon-calendar:before {
  content: "";
}


#content_delete{
/* width: 200px;
height: 200px; */
}
.hidden{
display: none;
}
.clear{
		clear: both;
		
	}
.metadata ,.position {
    background-color: #fff;
    background-repeat: repeat-x;
    border: 1px solid #becfe6;
    border-radius: 4px;
    clear: both;
    margin: 10px;
    padding: 10px;
}
.header-table-column {
    color: BLUE;
    font-size: 12px;
    font-weight: bold;
  /*   min-width: 161px !important; */
    text-align: center;
}


.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
    line-height: 1.42857;
    padding: 1px!important;
    vertical-align: top;
}
.no_margin_right{
margin-right: 0px!important;
}		
.metadata_leve1 {
  border:2px solid #a1a1a1;
padding:10px 40px; 
background:#dddddd;
width:300px;
border-radius:25px;
}
.col-lg-1 ,.col-lg-2{
   padding-top: 5px;

}
fieldset {
    border: 1px solid silver!important;
    margin: 0 2px!important;
    padding: 0.35em 0.625em 0.75em!important;
    margin-left: 10px!important;
}

.header_temple{
	font-size: 18px;
	color: teal;
	font-weight: bold;
	padding-bottom: 40px;
}

.header_temple_1{
	height: 30px;
	padding-top: 4px;
	text-align: center;
}

.row {
    font-size: 12px!important; 
    font-weight: bold;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
}
p{
margin: 0px!important;
}

 .isloading-wrapper.isloading-right {
    margin-left: 10px;
}
.isloading-overlay {
    position: relative;
    text-align: center;
   
   
  
}
  .isloading-wrapper {
        background: #FFFFFF;
        .border-radius(7px);
        display: inline-block;
        margin: 0 auto;
        padding: 10px 20px;
        top: 10%;
        z-index:9000;
         background-image: url("<%=request.getContextPath()%>/resources/img/loading.gif")!important;
   	background-repeat: no-repeat!important;
   	background-attachment: fixed;
    background-position: center; 
    border-radius:7px;
    width: 200px;
    height: 200px; 
  
      
    }
  /*   .readwarning{
    color: red!important;
    background-color: powderblue!important;
    } */
  
 
 .titile_name{
   float: left;
   width: 150px;
   padding-left: 50px;
   font-weight: bold;
   font-size: 13px;
   padding-top: 10px;
   
 }
  .input_name{
   float: left;
   width: 405px;
  
 }
 .UserCumulus{
    float: left !important;
    margin-right: 36px;   
    font-weight: bold;
    font-size: 14px;
    
 }
 
 
 

.split-pane {
	position: relative;
	height: 100%;
	width: 100%;
/* 	overflow: hidden; */
}

.split-pane.fixed-top > .split-pane-component,
.split-pane.fixed-bottom > .split-pane-component,
.split-pane.horizontal-percent > .split-pane-component {
	position: absolute;
	left: 0;
	width: 100%;
	overflow: auto;
	top: auto;
	bottom: 0;
	z-index: 1;
}

.split-pane.fixed-top > .split-pane-component:first-child,
.split-pane.fixed-bottom > .split-pane-component:first-child,
.split-pane.horizontal-percent > .split-pane-component:first-child {
	top: 0;
	bottom: auto;
}

.split-pane.fixed-top > .split-pane-divider,
.split-pane.fixed-bottom > .split-pane-divider,
.split-pane.horizontal-percent > .split-pane-divider {
	position: absolute;
	width: 100%;
	left: 0;
	cursor: ns-resize;
	cursor: n-resize/9;
	z-index: 2;
}

.split-pane.fixed-top > .split-pane-divider > .split-pane-divider-inner,
.split-pane.fixed-bottom > .split-pane-divider > .split-pane-divider-inner,
.split-pane.horizontal-percent > .split-pane-divider > .split-pane-divider-inner {
	position: absolute;
	top: -5px;
	left: 0;
	box-sizing: content-box;
	width: 100%;
	height: 100%;
	padding: 5px 0;
}

.split-pane.fixed-left > .split-pane-component,
.split-pane.fixed-right > .split-pane-component,
.split-pane.vertical-percent > .split-pane-component {
	position: absolute;
	top: 0;
	height: 100%;
	overflow: auto;
	left: auto;
	right: 0;
	z-index: 1;
}

.split-pane.fixed-left > .split-pane-component:first-child,
.split-pane.fixed-right > .split-pane-component:first-child,
.split-pane.vertical-percent > .split-pane-component:first-child {
	left: 0;
	right: auto;
}

.split-pane.fixed-left > .split-pane-divider,
.split-pane.fixed-right > .split-pane-divider,
.split-pane.vertical-percent > .split-pane-divider {
	position: absolute;
	height: 100%;
	top: 0;
	cursor: ew-resize;
	cursor: w-resize/9;
	z-index: 2;
}

.split-pane.fixed-left > .split-pane-divider > .split-pane-divider-inner,
.split-pane.fixed-right > .split-pane-divider > .split-pane-divider-inner,
.split-pane.vertical-percent > .split-pane-divider > .split-pane-divider-inner {
	position: absolute;
	top: 0;
	left: -5px;
	box-sizing: content-box;
	width: 100%;
	height: 100%;
	padding: 0 5px;
}

.split-pane-resize-shim {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10000;
	display: none;
}

.split-pane.fixed-left > .split-pane-resize-shim,
.split-pane.fixed-right > .split-pane-resize-shim,
.split-pane.vertical-percent > .split-pane-resize-shim {
	cursor: ew-resize;
	cursor: w-resize/9;
}

.split-pane.fixed-top > .split-pane-resize-shim,
.split-pane.fixed-bottom > .split-pane-resize-shim,
.split-pane.horizontal-percent > .split-pane-resize-shim {
	cursor: ns-resize;
	cursor: n-resize/9;
}

/*end of split-pane css*/

.pretty-split-pane-frame {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	
	
}
.split-pane-divider-inner{
 background: silver; 
}
.pretty-split-pane-frame .split-pane > .split-pane-divider.dragged.touch {
	background: blue;
	opacity: 0.25;
}

.pretty-split-pane-component-inner {
	box-sizing: border-box;
	border: 1px solid gray;
	background: white;
	width: 100%;
	height: 100%;
	padding: 0 1em;
	overflow: auto;
}



			#top-component-1 {
				bottom: 20em;
				margin-bottom: 5px;
			}

			#horizontal-divider-1 {
				bottom: 20em;
				height: 5px;
			}

			#bottom-component-1 {
				height: 20em;
			}


			#top-component-2 {
				bottom: 10em;
				margin-bottom: 5px;
			}

			#horizontal-divider-2 {
				bottom: 10em;
				height: 5px;
			}

			#bottom-component-2 {
				height: 10em;
			}

			#left-component {
				width: 26em;
			}

			#vertical-divider {
				left: 26em;
				width: 5px;
			}

			#right-component {
				left: 26em;
				margin-left: 5px;
			}
			


.pretty-split-pane-frame {
  height: 95%;
}

.toolbar {
  height: 5%;
  background-color: #C3C3C3;
}

.table-th {
    background-color: #5cb85c !important;
    border-color: #4cae4c !important;
    color: #fff !important;
    font-size: 15px;
}
.code {
  white-space: nowrap;
}

.table-head {
  font-weight: 800;
}



.diagram-section {
   
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
  background-position: center; 
  width: 100%;
  height: 100%;
}

.pretty-split-pane-component-inner {
  position: relative;
}

.section-content {
  padding-top: 25px;  
}

.title-section {
  background-color: #42555F;
    position: absolute;
    width: 100%;
    left: 0px;
    line-height: 0;
    padding-left: 13px;
  color: white;
}

.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6{
   margin: 0px;
}

.btn-glyphicon {
    background: #ffffff none repeat scroll 0 0;
    margin-right: 4px;
    padding: 8px;
}
.btn_add_remove{
  width: 50px;
  padding-left: 5px;
  float: left;
}
.well {
  margin: 0px!important;
  float: right;
}
